.about-container {
  height: 100%;
  overflow: hidden;

  h2 {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    max-width: 100%;
    text-align: center;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
  }

  h3 {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 2;
    margin-bottom: 10px;
  }

  p {
    color: grey;
  }
}

.img-wrapper {
  position: relative;
  height: 60vh;
  background-image: url(../img/background/hero-pattern-bg-lg.png),
    linear-gradient(to top right, #450b7c, #563cc9, #49e9fb);
  background-size: cover;
  background-position: top;

  .hero-guy-wrapper {
    position: absolute;
    bottom: -5%;
    left: 0;

    img {
      width: 100%;
    }
  }
}

.about {
  display: flex;
  width: 100%;
  max-width: 1300px;

  justify-content: center;

  .about-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 1 33%;

    i {
      font-size: 3rem;
      background: linear-gradient(#49e9fb, #563cc9);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}
