.projects {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 100%;
  max-width: 1300px;

  .item {
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 10px;
    height: 450px;

    .item-info {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      width: 50%;
      padding: 3rem 6rem 3rem 6rem;

      .btn {
        color: white;
        width: fit-content;
        font-size: 0.9rem;
      }
      .btn-blue {
        background-color: $light-blue;

        &:hover,
        &:active {
          background-color: $light-purple;
        }
      }

      .btn-purple {
        background-color: $light-purple;

        &:hover,
        &:active {
          background-color: $light-blue;
        }
      }
    }

    .item-img {
      display: flex;
      justify-content: center;
      width: 50%;
      padding: 1rem;
      background-image: url('../img/background/hero-pattern-bg.png');

      img {
        height: 100%;
        width: 100%;
        max-width: 400px;
      }
    }
    .item-img-blue {
      border-radius: 0 10px 10px 0;
      background-color: $light-blue;
    }

    .item-img-purple {
      border-radius: 10px 0 0 10px;
      background-color: $light-purple;
    }
  }
}
